{% extends 'core/base.html' %}
{% load static %}
{% block title %} Glossary {% endblock %}

{% block content %}

<div class="glossary-container mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <dl>
        <dt>Собака</dt>
        <dd>Домашнее животное, известное своей преданностью и дружелюбным характером.</dd>
    
        <dt>Кошка</dt>
        <dd>Домашнее животное, известное своей независимостью и игривостью.</dd>
    
        <dt>Порода</dt>
        <dd>Определенная категория собак или кошек с характерными чертами и поведением.</dd>
    
        <dt>Груминг</dt>
        <dd>Процесс ухода за шерстью животного, включая стрижку и купание.</dd>
    
        <dt>Вакцинация</dt>
        <dd>Процедура, направленная на защиту животных от инфекционных заболеваний.</dd>
    </dl>
</div>

{% endblock %}
