{% extends 'core/base.html' %}

{% load static %}
{% block title %} Vacancies {% endblock %}

{% block content %}
    <div class="vacancy-container mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="employees-title mb-12 text-2xl text-center">Vacancies</h2>
        <div class="vacancy-grid">
            {% for vacancy in vacancies %}
                <div class="vacancy_article">
                    <img src="{{ vacancy.image.url }}" alt="{{ vacancy.name }}" class="vacancy_image">
                    <h3>{{ vacancy.name }}</h3>
                    <p>{{ vacancy.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
