.loader {
  width: 70px; /* Ширина контейнера */
  aspect-ratio: 1; /* Соотношение сторон 1:1, чтобы сделать его кругом */
  display: grid; /* Используется для выравнивания псевдоэлементов ::before и ::after */
  border-radius: 50%; /* Округление краев для создания круга */
  background: 
    linear-gradient(0deg, rgba(255, 165, 0, 0.5) 30%, #0000 0 70%, rgba(255, 165, 0, 1) 0) 50%/8% 100%, /* Градиент, ориентированный вертикально */
    linear-gradient(90deg, rgba(255, 165, 0, 0.25) 30%, #0000 0 70%, rgba(255, 165, 0, 0.75) 0) 50%/100% 8%; /* Градиент, ориентированный горизонтально */
  background-repeat: no-repeat; /* Не повторять фон */
  animation: l23 1s infinite steps(16); /* Анимация с именем l23, длительностью 1 секунда, бесконечно, с 16 шагами */
}

.loader::before,
.loader::after {
    content: ""; /* Псевдоэлемент без содержимого */
    grid-area: 1/1; /* Размещает их в одной и той же области грида */
    border-radius: 50%; /* Создает круг */
    background: inherit; /* Унаследует фон от родительского элемента */
    opacity: 0.9; /* Полупрозрачность первого псевдоэлемента */
    transform: rotate(30deg); /* Поворачивает псевдоэлемент на 30 градусов */
}
.loader::after {
    opacity: 0.8; /* Полупрозрачность второго псевдоэлемента */
    transform: rotate(60deg); /* Поворачивает второй псевдоэлемент на 60 градусов */
}

@keyframes l23 {
  100% {transform: rotate(1turn)} /* Вращение на 360 градусов */
}

